.log {
  background-image: linear-gradient(to right, #080B08, #0D715D, #4C4F42);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  
  .wrapper {
    width: 70%;
    height: 70%;
    display: flex;
  }
  
  .left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo {
    font-size: 50px;
    color: #f7ff04;
    margin-bottom: 10px;
  }
  
  .comment {
    font-size: 24px;
  }
  
  .box{
      height: 300px;
      padding: 20px;
      background-color: f7ff04;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .input{
    color: black;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    font-size: 18px;
    padding-left: 20px;
  }
  
  
  .signupButton{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #436f66;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .logButton{
    width: 100%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #034134;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }