
  .wrapperS {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boxS {
      display: inline-flex;
      padding-top: 10px;
      background-color: white;
  }
  
  .searchBox {
    color: black;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #a9ccf3;
    font-size: 18px;
    padding-left: 20px;
  
  }

  .searchButton {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #0a2671;
    color: white;
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
  }